<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="../tabs/tab1">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="img4">
  <ion-card>
    <h3>Product Registration</h3>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Validity</ion-label>
      <ion-input type="validity" placeholder="00/00/0000"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="price"></ion-input>
    </ion-item>
  </ion-card>
</ion-content>
