/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.imgtab1{
  --background: url(https://w0.peakpx.com/wallpaper/312/90/HD-wallpaper-samsung-galaxy-s8-black-edge-thumbnail.jpg) 0 0/100% 100% no-repeat;
}

.img1{
  --background: url(https://w0.peakpx.com/wallpaper/33/876/HD-wallpaper-earth-dark-galaxy-planet-space-thumbnail.jpg)0 0/100% 100% no-repeat;
}

.img2{
  --background: url(https://w0.peakpx.com/wallpaper/28/478/HD-wallpaper-neptune-1-apple-blue-dark-galaxy-ios-iphone-planets-style-thumbnail.jpg) 0 0/100% 100% no-repeat;
}

.img3{
  --background: url(https://w0.peakpx.com/wallpaper/962/51/HD-wallpaper-s9-adikartika-amoled-galaxy-thumbnail.jpg) 0 0/100% 100% no-repeat;
}

.img4{
  --background: url(https://w0.peakpx.com/wallpaper/335/158/HD-wallpaper-flower-amoled-android-apple-black-dark-galaxy-ios-iphone-note-samsung-thumbnail.jpg) 0 0/100% 100% no-repeat;
}

